* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: fff;
}
html,
body {
  height: 100%;
  width: 100%;
  
}

body {
  background-color: #111;
}
.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.card{
  width: 300px;
  color: #fff;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
  background-color: #222;
   border-radius: 10px;
   
}
.card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.card p{
  margin: 20px 0;
}
.card button{
  background-color: #fff;
  color: #111;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  border: none;
}