* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #e8dbdb;
}

.Card{
  background-color: pink;
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}

.Navbar {
  background-color: aqua;
  margin: 20px;
  padding: 10px;
  
}