* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}

.input {
  width: 150px;
  height: 30px;
  background: transparent;
  border: 1px solid white;
  margin: 10px;
  padding: 10px 20px;
}

.box{
  height: 100px;
  width: 100px;
  background-color: red;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: #333;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: #444;
}