* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,
body {
  height: 100%;
  width: 100%;
}

h1{
  background-color: gainsboro;
  padding: 10px 70px;
  margin: 20px;
  width: fit-content;
  font-size: 100px;
}

button{
  margin: 30px;
  padding: 10px 20px;
}

